.c-set{
    margin: auto;
    width: 100px;
    height: 100px;
  }
  .pos-set{
    position: relative;
    top: 35px;
  }
  .pos-s{
    position: relative;
    top: 11px;
  }
  .close{
    position: relative;
    left: 32px;
  }
  .bg-clr{
    background: rgb(231, 231, 231);
  }